{
 "active": "secure"
 ,"secure": {
  "nodetype": "secure"
  ,"servers": [
   "ts2.eu"
   ,"ts1.eu"
   ,"ts3.eu"
   ,"ts4.eu"
   ,"ts5.eu"
   ,"ts6.eu"
   ,"ts1.na"
   ,"ts2.na"
   ,"ts3.na"
   ,"ts4.na"
  ]
  ,"stakeaddr": "{{ secnode_stake_taddr }}"
  ,"email": "{{ secnode_alert_email }}"
  ,"fqdn": "{{ inventory_hostname }}"
  ,"ipv": "4"
  ,"region": "eu"
  ,"home": "ts2.eu"
  ,"category": "nodeler"
  {% if secnode_tracker_config is defined and 'secure' in secnode_tracker_config and 'nodeid' in secnode_tracker_config.secure %}
  ,"nodeid": "{{ secnode_tracker_config.secure.nodeid }}"
  {% endif %}
 }
}
