{
 "active": "{{ secnode_type }}"
 ,"super": {
  "nodetype": "super"
{% if secnode_tracker_config.super.nodeid is defined %}
  ,"nodeid": "{{ secnode_tracker_config.super.nodeid }}"
{% else %}
  ,"nodeid": null
{% endif %}
  ,"servers": [
   "xns1.eu"
   ,"xns2.eu"
   ,"xns3.eu"
   ,"xns4.eu"
   ,"xns1.na"
   ,"xns2.na"
   ,"xns3.na"
   ,"xns4.na"
  ]
  ,"stakeaddr": "{{ secnode_stake_taddr }}"
  ,"email": "{{ secnode_alert_email }}"
  ,"fqdn": "{{ inventory_hostname }}"
  ,"ipv": "4"
  ,"region": "eu"
  ,"home": "xns1.eu"
  ,"category": "{{ secnode_category }}"
 }
 ,"secure": {
  "nodetype": "secure"
  ,"servers": [
   "ts2.eu"
   ,"ts1.eu"
   ,"ts3.eu"
   ,"ts4.eu"
   ,"ts5.eu"
   ,"ts6.eu"
   ,"ts1.na"
   ,"ts2.na"
   ,"ts3.na"
   ,"ts4.na"
  ]
  ,"stakeaddr": "{{ secnode_stake_taddr }}"
  ,"email": "{{ secnode_alert_email }}"
  ,"fqdn": "{{ inventory_hostname }}"
  ,"ipv": "4"
  ,"region": "eu"
  ,"home": "ts2.eu"
  ,"category": "{{ secnode_category }}"
{% if secnode_tracker_config.secure.nodeid is defined %}
  ,"nodeid": "{{ secnode_tracker_config.secure.nodeid }}"
{% else %}
  ,"nodeid": null
{% endif %}

 }
}
